{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m6 offset-m3">
        <form action="" method="POST">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="form-error-list">
                {% for err in form.non_field_errors %}
                <p class="form-error">{{ err }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% for field in form %}
                <div class="field">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    <div class="control">{{ field }}</div>
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %} 
            <input class="btn" type="submit" value="Login">
        </form>
    </div>
</div>

{% endblock %}