<div class="card document-card">
  <div class="card-image">
        <div class="carousel carousel-slider">
            {% for image in document.images.all %}
                <a class="carousel-item"><img src="{{ image.image_url }}"></a>
            {% endfor %}
        </div>
    </div>
    <div class="card-content">
        <p>{{ document.images.count }}</p>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
        <a href="#">This is a link</a>
    </div>
</div>
<script>
    $('.carousel.carousel-slider').carousel({ fullWidth: true });
</script>