<div class="card document-card">
    <div class="image-count">
        <span class="current-image">1</span> / {{ document.images.all|length }}
    </div>

    <div class="sidebar">
        <div class="sidebar-upper">
            <div class="sidebar-section">
                <small class="section-header">Baseline</small>
                <p>{{ document.baseline_grid }}</p>
            </div>

            <div class="sidebar-section">
                <small class="section-header">Baseline</small>
                <p>{{ document.baseline_grid }}</p>
            </div>

            <div class="sidebar-section">
                <small class="section-header">Baseline</small>
                <p>{{ document.baseline_grid }}</p>
            </div>

            <div class="sidebar-section">
                <small class="section-header">Baseline</small>
                <p>{{ document.baseline_grid }}</p>
            </div>

        </div>

        <div class="sidebar-lower">

        </div>
    </div>

    <div class="card-image">
        <div class="carousel carousel-slider">
            {% for image in document.images.all %}
                <a class="carousel-item"><img src="{{ image.image_url }}"></a>
            {% endfor %}
        </div>
    </div>
    <div class="card-content">
        <!-- Card Header -->
        <div class="content-header">
            <div class="header-content">
                <a href="{% url 'design_document_detail' document_id=document.id %}"><h4>{{ document.title }}</h4></a>

                <div class="secondary-information">
                    <p>{{ document.uploaded_by }}</p>
                    <p>{{ document.created_at|date:'M dS Y' }}</p>
                    <p>30 likes</p>
                </div>
            </div>
        </div>
    </div>
</div>
