<div class="row">
    <div class="col s12">
        <div class="form-error-list">
        {% for error in form.non_field_errors %}
            <div class="form-error">
                {{ error }}
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4"><a href="#document-images">1. Images</a></li>
            <li class="tab col s4"><a href="#document-asset">2. Asset</a></li>
            <li class="tab col s4"><a href="#document-specifics">3. Specifics</a></li>
        </ul>
    </div>

    <div id="document-images" class="col s12">
        <div class="file-field input-field">
            <div class="btn"
                <span>File</span>
                <input type="file" multiple id="id_image_upload">
            </div>

            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more image files">
            </div>
        </div>

        <div class="user-uploaded-images" id="user-uploaded-images">
            <!-- List of images uploaded by the user -->
            {% if not document.images.all %}
            <p class="help-text">Please upload up to 3 images of the document.</p>
            {% endif %}

            {% if document %}
                {% for image in document.images.all %}
                    <div class="image-container">
                        <img data-image-id="{{ image.id }}" class="materialboxed z-depth-2" src="{{ image.image_url }}">
                        <button class="remove-image">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div id="document-asset" class="col s12">
        <div class="file-field input-field">
            <div class="btn"
                <span>File</span>
                <input type="file" id="id_asset_upload">
            </div>

            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload an InDesign file">
            </div>
        </div>

        <div class="user-uploaded-asset" id="user-uploaded-asset">
            {% if document %}
                {% if document.has_download %}
                    <p class="preexisting-asset"><i class="far fa-file-archive"></i> Looks like you already have a file for this document.</p>
                {% else %}
                    <p class="help-text">Upload an InDesign file or zip file.</p>
                {% endif %}
            {% else %}
                <p class="help-text">Upload an InDesign file or zip file.</p>
            {% endif %}
        </div>
    </div>
    
    <div id="document-specifics" class="col s12">
        {% if document_id %}
            {% include 'partials/forms/edit-document-form.html' with action_url='design_document_edit' document_id=document_id form=form button_text=button_text %}
        {% else %}
            {% include 'partials/form.html' with action_url='upload' form=form button_text='Upload' %}
        {% endif %}
    </div>
</div>