{% extends 'base.html' %}

{% if not user.is_authenticated %}
    {% block banner %}
        <div class="top-banner">
            colofont is for finding and sharing book designs. Make an account, or read more about us.
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    {% include 'partials/page-header.html' with page_title='Dashboard' paginator=documents %}

    <div class="columns">
        <div class="column"></div>
        <div class="column is-6">
            <div class="document-list">
                {% for document in documents %}
                    {% include 'partials/documents/document-card.html' %} 
                {% endfor %}
            </div>
        </div>
        <div class="column"></div>
    </div>

    {% include 'partials/page-footer.html' with page_title='Dashboard' paginator=documents %}
{% endblock %}

{% block scripts %}
<script>
    $('.carousel.carousel-slider').carousel({ fullWidth: true });

    // Add click listener for favoriting a document
    $('body').on('click', '.favorite', favoriteDocument);

    function favoriteDocument(event) {
        var button = $(event.target);
        var documentId = button.hasClass('favorite') ?
            button.data('document-id') :
            button.parent().data('document-id');

        $.ajax({
            'url': BASEURL + '/document/' + documentId + '/favorite/',
            'type': 'POST',
            'success': onFavoriteSuccess,
            'error': onFavoriteError
        });
    }

    function onFavoriteSuccess(res) {
        console.log(res);
    }

    function onFavoriteError(request, err) {
        console.log(err);
    }
</script>
{% endblock %}