{% extends 'base.html' %}
{% load static %}

{% if not request.user.is_authenticated %}
    {% block banner %}
        <div class="fat-banner landing-banner">
            <div class="container">
                <h2>Find inspiration for book design, and download working files.</h2>
                <div class="row">
                    <div class="col s6">
                        We make it easier for designers to find inspiration, then download working InDesign files to learn from the pros.
                        Our tight-knit community is comprised of serious designers, so you know you'll be getting access to solid material, and 
                        the content you upload for others will be respected.
                    </div>
                    <div class="col s6">
                        So for the sake of our craft, make an account, and start learning.
                        <div class="cta-register">
                            <a href="{% url 'registration_register' %}">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    {% include 'partials/page-header.html' with page_title='Dashboard' paginator=documents %}

    <div class="columns">
        <div class="column"></div>
        <div class="column is-6">
            <div class="document-list">
                {% for document in documents %}
                    {% include 'partials/documents/document-card.html' %} 
                {% endfor %}
            </div>
        </div>
        <div class="column"></div>
    </div>

    {% include 'partials/page-footer.html' with page_title='Dashboard' paginator=documents %}
{% endblock %}

{% block scripts %}
<script>
    $('.carousel.carousel-slider').carousel({ fullWidth: true });

    // Add click listener for favoriting a document
    $('.favorite i').click(favoriteDocument);

    function favoriteDocument(event) {
        var target = $(event.target);
        var documentId = target.data('document-id');

        $.ajax({
            'url': BASEURL + '/document/' + documentId + '/favorite/',
            'type': 'POST',
            'success': onFavoriteSuccess,
            'error': onFavoriteError
        });

        function onFavoriteSuccess(res) {
            var iconClass = target.attr('class');
            var toastMessage = 'Document favorited.';

            if (iconClass === 'fas fa-heart') {
                target.attr('class', 'far fa-heart');
                toastMessage = 'Document unfavorited';
            } else {
                target.attr('class', 'fas fa-heart');
            }

            createToast(toastMessage);
        }

        function onFavoriteError(request, err) {
            console.error(err);
        }
    }

</script>
{% endblock %}