{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'partials/page-header.html' with page_title='Upload New Document' %}
    {% include 'partials/documents/document-modify.html' with form=form %}
{% endblock %}

{% block scripts %}
    <script rel="text/javascript" src="{% static 'javascript/s3/signS3Image.js' %}"></script>
    <script rel="text/javascript" src="{% static 'javascript/utility/messages.js' %}"></script>
    <script rel="text/javascript" src="{% static 'javascript/utility/helpers.js' %}"></script>
    <script>
        var imageFileInput = $('#id_image_upload');
        var assetFileInput = $('#id_asset_upload');
        var selectElements = $('select');
        var hiddenImageFileInput = $('#id_document_images');
        var hiddenAssetFileInput = $('#id_asset_url');
        var fileUrls = [];

        selectElements.selectize();

        function attachImageToDom(url) {
            var wrapper = $('#user-uploaded-images');
            var newImage = $('<img class="materialboxed z-depth-2" src="' + url + '">');

            removeUploadPhotosHelpText();
            wrapper.append(newImage);
            newImage.materialbox();

            addNewImageToForm(url);
        }

        function addNewImageToForm(url) {
            fileUrls.push(url);
            updateFormImageFiles();
        }


        function updateFormImageFiles() {
            hiddenImageFileInput[0].value = JSON.stringify(fileUrls);
        }

        function handleAssetUrl(url) {
            hiddenAssetFileInput[0].value = JSON.stringify(url);
        }

        function removeUploadPhotosHelpText() {
            $('.user-uploaded-images .help-text').remove();
        }

        function errorCallback(fileInput) {
            return function(message) {
                clearFileInput(fileInput);
                createToast(message, 1500);
            }
        }

        handleFileUpload(imageFileInput[0], attachImageToDom, errorCallback(imageFileInput[0]))
        handleFileUpload(assetFileInput[0], handleAssetUrl, errorCallback(assetFileInput[0]))
    </script>
{% endblock %}