{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/page-header.html' with page_title='Upload New Document' %}

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4"><a href="#document-images">1. Images</a></li>
                <li class="tab col s4"><a href="#document-asset">2. Asset</a></li>
                <li class="tab col s4"><a href="#document-specifics">3. Specifics</a></li>
            </ul>
        </div>

        <div id="document-images" class="col s12">
            <div class="file-field input-field">
                <div class="btn"
                    <span>File</span>
                    <input type="file" multiple id="id_image_upload">
                </div>

                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more image files">
                </div>
            </div>

            <!-- List of images uploaded by the user -->
            <p class="help-text">Please upload up to 3 images of the document.</p>
            <div class="user-uploaded-images" id="user-uploaded-images"></div>
        </div>

        <div id="document-asset" class="col s12">
            <div class="file-field input-field">
                <div class="btn"
                    <span>File</span>
                    <input type="file" id="id_asset_upload">
                </div>

                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload an InDesign file">
                </div>
            </div>

            <div id="user-uploaded-asset">
                <p class="help-text">Upload an InDesign file or zip file.</p>
            </div>
        </div>
        
        <div id="document-specifics" class="col s12">
            <!-- Form containing specifics -->
            {% include 'partials/form.html' with action_url='upload' form=form button_text='Upload' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script rel="text/javascript" src="{% static 'javascript/s3/signS3Image.js' %}"></script>
    <script rel="text/javascript" src="{% static 'javascript/utility/messages.js' %}"></script>
    <script rel="text/javascript" src="{% static 'javascript/utility/helpers.js' %}"></script>
    <script>
        var imageFileInput = $('#id_image_upload');
        var assetFileInput = $('#id_asset_upload');
        var typefacesSelect = $('#id_typefaces');
        var hiddenImageFileInput = $('#id_document_images');
        var hiddenAssetFileInput = $('#id_asset_url');
        var fileUrls = [];

        typefacesSelect.selectize();

        function attachImageToDom(url) {
            var wrapper = $('#user-uploaded-images');
            var newImage = $('<img class="materialboxed z-depth-2" src="' + url + '">');

            removeUploadPhotosHelpText();
            wrapper.append(newImage);
            newImage.materialbox();

            fileUrls.push(url);
            hiddenImageFileInput[0].value = JSON.stringify(fileUrls);
        }

        function handleAssetUrl(url) {
            hiddenAssetFileInput[0].value = JSON.stringify(url);
        }

        function removeUploadPhotosHelpText() {
            $('.user-uploaded-images .help-text').remove();
        }

        function errorCallback(fileInput) {
            return function(message) {
                clearFileInput(fileInput);
                createToast(message, 2000);
            }
        }

        handleFileUpload(imageFileInput[0], attachImageToDom, errorCallback(imageFileInput[0]))
        handleFileUpload(assetFileInput[0], handleAssetUrl, errorCallback(assetFileInput[0]))
    </script>
{% endblock %}