{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'partials/page-header.html' with page_title='Edit Document' subtitle=document.title %}
    {% include 'partials/documents/modify-document.html' with form=design_document_form document_id=document.id button_text="Save" %}
{% endblock %}

{% block scripts %}
<script rel="text/javascript" src="{% static 'javascript/s3/signS3Image.js' %}"></script>
<script>
    var selectElements = $('select');
    var imageFileInput = $('#id_image_upload');
    var assetFileInput = $('#id_asset_upload');
    var hiddenImageFileInput = $('#id_document_images');
    var hiddenRemovedImageFileInput = $('#id_document_images_to_remove');
    var hiddenAssetFileInput = $('#id_asset_url');
    var wrapper = $('#user-uploaded-images');
    var newImageUrls = [];
    var removedImageIds = [];

    selectElements.selectize();
    handleFileUpload('image', imageFileInput[0], attachImageToDom, errorCallback(imageFileInput[0]));
    handleFileUpload('asset', assetFileInput[0], handleAssetUrl, errorCallback(assetFileInput[0]));
    $(document.body).on('click', '.remove-image', toggleRemoveImage);

    function attachImageToDom(url) {
        var newImage = $(
            '<div class="image-container">' +
                 '<img data-unsaved="true" class="materialboxed z-depth-2" src="' + url + '">' +
                 '<button class="remove-image">' +
                     '<i class="far fa-trash-alt"></i>' +
                 '</button>' +
             '</div>');

        removeUploadPhotosHelpText();
        wrapper.append(newImage);
        newImage.find('img').materialbox();

        addImageUrlToForm(url);
    }

    function addImageUrlToForm(url) {
        newImageUrls.push(url);
        updateFormImageUrls(url);
    }

    function addRemovedImageToForm(url) {
        removedImageIds.push(url);
        updateFormRemovedImageFiles(url);
    }

    function updateFormImageUrls() {
        hiddenImageFileInput[0].value = JSON.stringify(newImageUrls);
    }

    function updateFormRemovedImageFiles() {
        hiddenRemovedImageFileInput[0].value = JSON.stringify(removedImageIds);
    }

    function handleAssetUrl(url) {
        hiddenAssetFileInput[0].value = JSON.stringify(url);
    }

    function removeUploadPhotosHelpText() {
        $('.user-uploaded-images .help-text').remove();
    }

    function errorCallback(fileInput) {
        return function(message) {
            clearFileInput(fileInput);
            createToast(message, 2000);
        }
    }

    function toggleRemoveImage(event) {
        var imageEl = $(event.target).parent().find('img');
        var isUnsaved = imageEl.data('unsaved');
        var imageId = imageEl.data('image-id');
        var imageUrl = imageEl.attr('src');

        imageEl.toggleClass('removed');

        if (isUnsaved) {
            updateImageUrls(imageUrl);
        } else {
            updateRemovedImageIds(imageId);
        }
    }

    function updateImageUrls(url) {
        var indexOfNewImageUrl = newImageUrls.indexOf(url);
        var fileIsMarkedForRemoval = indexOfNewImageUrl === -1;

        console.log(newImageUrls)

        if (!fileIsMarkedForRemoval) {
            newImageUrls.splice(indexOfNewImageUrl, 1);
            createToast('Image removed.');
        } else {
            newImageUrls.push(url);
            createToast('Image re-added.');
        }

        updateFormImageUrls();
    }

    function updateRemovedImageIds(id) {
        var indexOfFileId = removedImageIds.indexOf(id);
        var fileIsMarkedForRemoval = indexOfFileId !== -1;

        if (!fileIsMarkedForRemoval) {
            removedImageIds.push(id);
            updateFormRemovedImageFiles();
            createToast('Image removed.');
        } else {
            removedImageIds.splice(indexOfFileId, 1);
            updateFormRemovedImageFiles();
            createToast('Image re-added.');
        }
    }

</script>
{% endblock %}
