{% extends 'base.html' %}

{% block content %}
<div class="page document-detail">
    <div class="row">
        <div class="col m8 s12 document-information">

            <div class="information-header">
                <h3>{{ document.title }} <span>- {{ document.uploaded_by }}</span></h3>
                <div class="interactions">
                    <p class="favorite-text">0 favorites  - </p>
                    <i class="far fa-star favorite"></i>
                </div>
            </div>

            <div class="rtable">
                <div class="rtable-header">
                    <div style="order:1;" class="cell">Baseline</div>
                    <div style="order:2;" class="cell">Size</div>
                    <div style="order:3;" class="cell">Gutter</div>
                    <div style="order:4;" class="cell">Page Size</div>
                    <div style="order:5;" class="cell">Margins</div>
                </div>

                <div class="rtable-row">
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                </div>
            </div>

            <p>{{ document.description }}</p>

            {% if document.has_download %}
            <div class="information-buttons">
                <a href="{{ document_package.package_url }}" download>
                    <button class="btn download-assets tooltipped"
                        data-position="right"
                        data-delay="50"
                        data-tooltip="Download File"
                    >
                        <i class="fas fa-cloud-download-alt"></i>
                    </button>
                </a>
            </div>
            {% endif %}

            {% if document.uploaded_by == request.user %}
            <div class="owner-controls">
                <button class="btn primary">Edit</button>
                <button class="btn danger">Delete</button>
            </div>
            {% endif %}
        </div>

        <div class="col m4 s12">
            <div class="image-list">
                {% for image in document.images.all %}
                   <img class="materialboxed" src="{{ image.image_url }}">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
