{% extends 'base.html' %}

{% block content %}
<div class="page document-detail">
    <div class="row">
        <div class="col s12">

            <div class="information-header">
                <h3>{{ document.title }}</h3>
            </div>

            <p>{{ document.description }}</p>

            <div class="divider-wrapper">
                <span>Specifications</span>
                <div class="divider"></div>
            </div>

            <ul>
                {% for typeface in document.typefaces %}
                <li>{{ typeface }}</li>
                {% endfor %}
            </ul>

            <div class="rtable">
                <div class="rtable-header">
                    <div style="order:1;" class="cell">Baseline</div>
                    <div style="order:2;" class="cell">Size</div>
                    <div style="order:3;" class="cell">Gutter</div>
                    <div style="order:4;" class="cell">Page Size</div>
                    <div style="order:5;" class="cell">Margins</div>
                </div>

                <div class="rtable-row">
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                </div>
            </div>

            <div class="divider-wrapper">
                <span>Images</span>
                <div class="divider"></div>
            </div>

            <!--{% if document.has_download %}
            <div class="information-buttons">
                <a href="{{ document_package.package_url }}" download>
                    <button class="btn download-assets tooltipped"
                        data-position="right"
                        data-delay="50"
                        data-tooltip="Download File"
                    >
                        <i class="fas fa-cloud-download-alt"></i>
                    </button>
                </a>
            </div>
            {% endif %}-->

        </div>

        <div class="col s12">
            <div class="image-list">
                <div class="row">
                {% for image in document.images.all %}
                <div class="col m6 s12">
                   <img class="materialboxed" src="{{ image.image_url }}">
                </div>
                {% endfor %}
                </div>
            </div>
        </div>


        {% if document.uploaded_by == request.user %}
        <div class="col s12">
            <div class="owner-controls">
                <a href="{% url 'design_document_edit' document_id=document.id %}"><button class="btn primary">Edit</button></a>
                <button class="btn danger">Delete</button>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
