{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/page-header.html' with page_title='Edit Document' %}

    <div class="row">
        <div class="col m8 s12">
            {% include 'partials/form.html' with action_url='upload' form=design_document_form button_text='Save' %}
        </div>
        <div class="col m4 s12">
            <div class="image-list">
                {% for image in document.images.all %}
                   <img class="materialboxed" src="{{ image.image_url }}">
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
