{% extends 'base.html' %}

{% block content %}
<div class="page document-detail">
    <div class="row">
        <div class="col s12">

            <div class="information-header">
                <div>
                    <h3>{{ document.title }}</h3>

                    <div class="secondary-information">
                        <p>{{ document.uploaded_by }}</p>
                        <p>{{ document.created_at|date:'M dS Y' }}</p>
                        <p>30 likes</p>
                    </div>
                </div>
                <div class="document-interactions">
                    {% if document_package %}
                    <a href="{{ document_package.package_url }}" download>
                        <button class="btn tooltipped"
                            data-position="bottom"
                            data-delay="50"
                            data-tooltip="Download File"
                        >
                            <i class="fas fa-cloud-download-alt"></i>
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>

            <p>{{ document.description }}</p>

            {% if document.typefaces %}
            <div class="divider-wrapper">
                <span>Fonts</span>
                <div class="divider"></div>
            </div>

            <ul class="fonts-list">
                {% for typeface in document.typefaces %}
                <li>{{ typeface }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="divider-wrapper">
                <span>Specifications</span>
                <div class="divider"></div>
            </div>

            <div class="rtable">
                <div class="rtable-header">
                    <div style="order:1;" class="cell">Baseline</div>
                    <div style="order:2;" class="cell">Size</div>
                    <div style="order:3;" class="cell">Gutter</div>
                    <div style="order:4;" class="cell">Page Size</div>
                    <div style="order:5;" class="cell">Margins</div>
                </div>

                <div class="rtable-row">
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                    <div style="order:1;" class="cell">{{ document.baseline_grid }}</div>
                </div>
            </div>

            <div class="divider-wrapper">
                <span>Images</span>
                <div class="divider"></div>
            </div>
        </div>

        <div class="col s12">
            <div class="image-list">
                <div class="row">
                {% for image in document.images.all %}
                <div class="col m6 s12">
                   <img class="materialboxed" src="{{ image.image_url }}">
                </div>
                {% endfor %}
                </div>
            </div>
        </div>


        {% if document.uploaded_by == user %}
        <div class="col s12">
            <div class="owner-controls">
                <a href="{% url 'design_document_edit' document_id=document.id %}"><button class="btn primary">Edit</button></a>
                <a href="#delete-document-modal" class="btn danger modal-trigger">Delete</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

 <div id="delete-document-modal" class="modal">
    <div class="modal-content">
      <h4>Delete Document?</h4>
      <p>Deleting this document will permanently remove it from colofont. Are you sure you want to proceed?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" id="delete-document-button" class="btn danger modal-action modal-close">Yeah, delete it</a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
    var modalOptions = {
        inDuration: 50,
        outDuration: 50
    };

    $(document).ready(function(){
        $('.modal').modal(modalOptions);
        $('#delete-document-button').click(deleteDocument);
    }); 

    function deleteDocument() {
        $.ajax({
            'url': BASEURL + window.location.pathname,
            'type': 'DELETE',
            'success': onDeleteSuccess,
            'error': onDeleteError
        });
    }

    function onDeleteSuccess(data) {
        console.log(data);
        window.location.replace(BASEURL);
    }

    function onDeleteError(request, error) {
        createToast('There was a problem deleting this document.');
    }
</script>
{% endblock %}
