{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}
    </head>
    <body>
        <div class="container content-wrapper">
            {% block content %}{% endblock %}
            sup!
        </div>
    </body>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</html>