{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Martel:400,900|Montserrat:300,400" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css">
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}
    </head>
    <body>
        <div class="body-content">
            {% include 'partials/nav/nav.html' %}
            {% block banner %}
                <div class="top-banner">
                    colofont is for finding and sharing book designs. Make an account, or read more about us.
                </div> 
            {% endblock %}
            <div class="container content-wrapper">
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p>colofont is a small operation. Leave us feedback so we can build a better community!</p>
              </div>

              <div class="col l6 s12">
                <p></p>
              </div>
            </div>
          </div>
        </footer>
    </body>
    <script rel="text/javascript" src="https://cdn.jsdelivr.net/npm/@xkeshi/image-compressor@0.5.3/dist/image-compressor.min.js"></script>
    <script rel="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>
    <script rel="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
    <script rel="text/javascript" src="{% static 'javascript/utility/helpers.js' %}"></script>
    <script rel="text/javascript" src="{% static 'javascript/utility/messages.js' %}"></script>
    <script rel="text/javascript">
        // GLOBALS
        var CONTEXT = '{{ CONTEXT }}'; // Originating from custom context_processor
        var BASEURL; // Set in setup.js

        // MESSAGES
        {% if MESSAGE %}
            createToast('{{ MESSAGE }}', 2000);
        {% endif %}
    </script>
    <script rel="text/javascript" src="{% static 'javascript/setup.js' %}"></script>
    {% block scripts %}{% endblock %}
</html>