{% extends 'base.html' %}

{% block content %}
    {% include 'partials/profile/profile-header.html' %}

    <div class="row">
        <div class="col s8 offset-s2">
            <ul class="account-links">
                <li><a href="{% url 'change_password' %}">Change Password</a></li>
                <li><a href="{% url 'confirm_delete_account' %}">Delete Account</a></li>
            </ul>
            {% include 'partials/form.html' with form=edit_profile_form action_url='edit-profile' button_text='Save' %}
        </div>
    </div>
{% endblock %}
