{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'partials/profile/profile-header.html' %}

    <div class="row">
        <div class="col s2 offset-s1">
            <div class="profile-filtering">
                <h6>Filters</h6>
                <ul class="profile-filters">
                    <li class="{% if not filter_param %}active{% endif %}"><a href="{% url 'profile' %}">Uploads</a></li>
                    <li class="{% if filter_param == 'favorites' %}active{% endif %}"><a href="{% url 'profile' %}?filter=favorites">Favorites</a></li>
                    <li class="{% if filter_param == 'downloads' %}active{% endif %}"><a href="{% url 'profile' %}?filter=downloads">Downloads</a></li>
                </ul>
            </div>
        </div>
        <div class="col s8">
            <div class="document-list">
                {% for document in documents %}
                    {% include 'partials/documents/document-card-condensed.html' %} 
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="profile-image-modal" class="modal">
        <div class="modal-content">
            <img id="profile-image-preview" alt="Profile Preview">            
        </div>
        <div class="modal-footer">
            <a href="#!" id="upload-profile-picture" class="modal-action">Upload</a>
        </div>
    </div>

    <input type="file" name="profile-image-input" style="position: fixed; top: -100vh;">
{% endblock %}

{% block scripts %}
<script rel="text/javascript" src="{% static 'javascript/s3/signS3Image.js' %}"></script>
<script rel="text/javascript" src="{% static 'javascript/utility/helpers.js' %}"></script>
<script>
    var modalOptions = {
        inDuration: 0,
        outDuration: 0
    };

    var cropperOptions = {
        aspectRatio: 1,
    }

    var profileImageModal = $('#profile-image-modal');
    var profileImagePreview = $('#profile-image-preview');
    var uploadProfilePictureButton = $('#upload-profile-picture');
    var hasCropped = false;
    profileImageModal.modal(modalOptions);

    $('.carousel.carousel-slider').carousel({ fullWidth: true });
    $('.profile-image').click(updateProfilePicture);
    var profileImageInput = $('[name="profile-image-input"]');
    profileImageInput.change(handleNewImage);
    uploadProfilePictureButton.click(uploadProfilePicture);

    function updateProfilePicture() {
        profileImageInput.click();
    }

    function handleNewImage(newFileEvent) {
        var fr = new FileReader();
        fr.onload = handleLoadedFile;

        fr.readAsDataURL(newFileEvent.target.files[0]);
    }

    function handleLoadedFile(event) {
        if (!hasCropped) {
            profileImagePreview[0].src = event.target.result;
            profileImagePreview.cropper(cropperOptions);
            hasCropped = true;
        } else {
            profileImagePreview.cropper('replace', event.target.result);
        }

        profileImageModal.modal('open');
    }

    function uploadProfilePicture() {
        var canvasImage = profileImagePreview.cropper('getCroppedCanvas')
            .toBlob(function(image) {
                var compressor = new ImageCompressor();

                compressor.compress(image, { maxWidth: 600 })
                    .then(function(compressedImage) {
                        getSignedRequest(compressedImage, randomstring(32), 'image', profileImageSavedInS3);
                    })
                    .catch(function(error) {
                        console.error(error);
                    });
            });
    }

    function profileImageSavedInS3(url) {
        $.ajax({
            'url': BASEURL + '/profile/edit/?action=profile_image',
            'type': 'POST',
            'data': {
                'profile_image_url': url
            },
            'contentType': "application/x-www-form-urlencoded",
            'success': profileImageSavedWrapper(url),
            'error': profileImageError
        });
    }

    function profileImageSavedWrapper(url) {
        return function() {
            profileImageModal.modal('close');
            updateProfileImageDiv(url);
        }
    }

    function profileImageError(error) {
        console.error(error);
        profileImageModal.modal('close');
    }

    function updateProfileImageDiv(url) {
        var imageDiv = $('.profile-header .profile-image');

        imageDiv.find('#profile-image', 'i').remove();
        imageDiv.append('<img id="profile-image" src="' + url + '" alt="Profile Image">')
    }


</script>
{% endblock %}
