<div class="page-header profile-header">
    <div class="profile-summary">
        <div class="profile-image">
            <i class="fas fa-camera"></i>
        </div>
        <div class="profile-information">
            <h5>{{ request.user.username }}</h5>
            <h6>joined {{ request.user.date_joined|date:'M dS Y' }}</h6>
            {% if request.user.profile.personal_website %}
            <a href="{{ request.user.profile.personal_website }}">{{ request.user.profile.personal_website }}</a>
            {% endif %}
        </div>
    </div>

    <div class="profile-interactions">
        <a href="{% url 'edit-profile' %}">Edit Profile</a>
    </div>
</div>